<div id="main" class="container-fluid">
    <div class="home slide">
        <div class="slide-inner">
            <h1>Amy Sandy Panyanouvong</h1>
            <h1>&amp;</h1>
            <h1>Kevin Richard May</h1>

            <h1 class="date">08.07.2016</h1>
        </div>
    </div>

    <div class="event-info slide">
        <div class="slide-inner">
            <div>
                <h1>Event Info</h1>
            </div>
            <div class="google-map">
                <iframe src="https://www.google.com/maps/embed/v1/view?zoom=16&center=33.1412%2C-117.1404&key=AIzaSyAuHW1d-M01bWep8ARTLp2cRIa9UoqmxT8" allowfullscreen></iframe>
            </div>
            <div>
                <h2>Green Gables Wedding Estate</h2>
                <p>134 Woodland Parkway, San Marcos, CA 92069</p>
                <p>Sunday the 7th of August, 2016 @ 4pm</p>
                <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#moreInfoModal">Click for more info...</button>
            </div>
            <div id="moreInfoModal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h3 class="modal-title">EVENT INFORMATION</h3>
                        </div>
                        <div class="modal-body">
                            <p>
                                The ceremony will begin at 4:00pm and will take place outside, weather
                                permitting. Dinner and dancing will follow shortly after. Bring your
                                party pants/dresses people, it’s going to be a good ole’ time. Dress is
                                semiformal; bow ties and/or bolo ties are encouraged.
                            </p>
                            <hr>
                            <p>
                                Green Gables Wedding Estate is located in San Marcos, about 30 minutes
                                north of downtown San Diego just off Highway 78.  Ample parking will
                                be available on site.
                                <br>
                                Beer and Wine will be served at the reception by a licensed bartender.
                                If you are over the age of 21 and wish to partake, please make sure to
                                bring your ID with you.
                            </p>
                            <hr>
                            <p>
                                If you are joining us from out of town, you may wish to book a hotel reservation.
                                Some hotels we can recommend that are located closer to the venue include:
                                <br>
                                <ul>
                                    <li><a href="http://hamptoninn3.hilton.com/en/hotels/california/hampton-inn-san-marcos-SANSMHX/index.html" target="_blank">Hampton Inn San Marcos ($)</a></li>
                                    <li><a href="http://www.marriott.com/hotels/travel/sanmc-residence-inn-san-diego-north-san-marcos/" target="_blank">Residence Inn by Marriott San Diego North San Marcos ($$)</a></li>
                                    <li><a href="http://www.lakehousehotelandresort.com/" target="_blank">Lakehouse Hotel and Resort ($$$)</a></li>
                                </ul>
                                Many other lodging accommodations are available closer to downtown San Diego;
                                we recommend you look for lodging there if you’re planning on exploring the
                                city a bunch over the weekend.
                            </p>
                            <hr>
                            <p>
                                Any questions, comments, concerns, playlist requests, or accommodation inquiries,
                                feel free to contact Amy &amp; Kevin:
                                <a href="mailto:kevinandamymay@gmail.com?Subject=Wedding%20Inquiry" target="_top">
                                    kevinandamymay@gmail.com
                                </a>
                            </p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="our-story slide">
        <div class="slide-inner">
            <h1>Our Story</h1>
            <div class="row">
                <div class="col-md-6">
                    <%= image_tag 'climbing' %>
                    <p>
                        Amy &amp; Kevin first met at a pool hall in 2012.
                        Over the next year Amy &amp; Kevin developed a friendship
                        that would become the basis of their relationship.
                    </p>
                </div>
                <div class="col-md-6">
                    <%= image_tag 'family' %>
                    <p>
                        On November 17th, 2013 Amy &amp; Kevin got engaged. On July
                        5th, 2015 they welcomed the beautiful Emma who has made their
                        relationship even stronger.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="pictures slide">
        <div class="slide-inner">
            <h1>Pictures</h1>

            <div id="carousel" class="carousel" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel" data-slide-to="1"></li>
                    <li data-target="#carousel" data-slide-to="2"></li>
                    <li data-target="#carousel" data-slide-to="3"></li>
                </ol>

                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <%= image_tag 'carousel/kevin_and_amy/1' %>
                    </div>

                    <div class="item">
                        <%= image_tag 'carousel/kevin_and_amy/2' %>
                    </div>

                    <div class="item">
                        <%= image_tag 'carousel/kevin_and_amy/3' %>
                    </div>

                    <div class="item">
                        <%= image_tag 'carousel/kevin_and_amy/4' %>
                    </div>

                    <div class="item">
                        <%= image_tag 'carousel/kevin_and_amy/5' %>
                    </div>

                    <div class="item">
                        <%= image_tag 'carousel/kevin_and_amy/6' %>
                    </div>

                    <div class="item">
                        <%= image_tag 'carousel/kevin_and_amy/7' %>
                    </div>

                    <div class="item">
                        <%= image_tag 'carousel/kevin_and_amy/8' %>
                    </div>

                    <div class="item">
                        <%= image_tag 'carousel/kevin_and_amy/9' %>
                    </div>

                    <div class="item">
                        <%= image_tag 'carousel/kevin_and_amy/10' %>
                    </div>
                </div>

                <a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>

    <div class="emma slide">
        <div class="slide-inner">
            <h1>Emma Kylie May</h1>
            <p>Born on the 5th of July, 2015</p>
            <p>Weighing in at 7 pounds and 7 ounces</p>

            <div id="emmaCarousel" class="carousel" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#emmaCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#emmaCarousel" data-slide-to="1"></li>
                    <li data-target="#emmaCarousel" data-slide-to="2"></li>
                    <li data-target="#emmaCarousel" data-slide-to="3"></li>
                </ol>

                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <%= image_tag 'carousel/emma/1' %>
                    </div>

                    <div class="item">
                        <%= image_tag 'carousel/emma/2' %>
                    </div>

                    <div class="item">
                        <%= image_tag 'carousel/emma/3' %>
                    </div>

                    <div class="item">
                        <%= image_tag 'carousel/emma/4' %>
                    </div>

                    <div class="item">
                        <%= image_tag 'carousel/emma/5' %>
                    </div>

                    <div class="item">
                        <%= image_tag 'carousel/emma/6' %>
                    </div>

                    <div class="item">
                        <%= image_tag 'carousel/emma/7' %>
                    </div>

                    <div class="item">
                        <%= image_tag 'carousel/emma/8' %>
                    </div>

                    <div class="item">
                        <%= image_tag 'carousel/emma/9' %>
                    </div>

                    <div class="item">
                        <%= image_tag 'carousel/emma/10' %>
                    </div>
                </div>

                <a class="left carousel-control" href="#emmaCarousel" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#emmaCarousel" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>

    <div class="rsvp slide">
        <div class="slide-inner">
            <div>
                <h1>R.S.V.P</h1>

                <p>Please enter your email address to search for your invitation.</p>

                <p>If you unable to complete your invitation online, please contact us.</p>

                <form class="form-inline">
                    <div class="form-group">
                        <input type="email" class="form-control email" name="email" placeholder="Email">
                    </div>
                    <button id="submit" type="submit" class="btn btn-default search" data-toggle="modal" data-target="#rsvp-modal">Search</button>
                </form>
            </div>
            <div id="rsvp-modal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <form id="invitation-form">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h3 class="modal-title">R.S.V.P</h3>
                            </div>
                            <div class="modal-body">
                                <p id="invitation-name"></p>
                                <p id="invitation-content">
                                    Please join us in celebrating our wedding on Sunday the 7th of August, 2016 at 4pm.
                                </p>
                                <p id="invitation-select">Please select who will be attending and then click submit.</p>

                                <input id="invitation-id" type="hidden"></input>
                                <div id="invitees"></div>
                                <div id="plus-one" class="form-group plus-one">
                                    <input id="plus-one-going" class="plus-one-going" name="invitation[plus_one_going]" type="checkbox" value="true"></input>
                                    <input id="plus-one-name" name="invitation[plus_one_name]" class="plus-one-name form-control" type="text" placeholder="Guest name" disabled="true"></input>
                                    <span class="plus-one-name-required">Required</span>
                                </div>

                                <p id="already-responded">
                                    You have already responded.
                                    <br>
                                    <br>
                                    If you wish to change your response please contact us directly as soon as possible.
                                </p>

                                <p id="not-found">We were unable to find an invitation for <span id="not-found-email" /></p>
                                <p id="contact-us">Please contact us directly.</p>
                            </div>
                            <div class="modal-footer">
                                <button id="invitation-submit" type="submit" class="btn btn-info">Submit</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div id="rsvp-success-modal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h3 class="modal-title">Thank You</h3>
                        </div>
                        <div class="modal-body">
                            <p>Thank you for your response. We will e-mail you to confirm your response.</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="rsvp-failure-modal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h3 class="modal-title">Error</h3>
                        </div>
                        <div class="modal-body">
                            <p>There was an error processing your response. Please contact us directly as soon as possible.</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="registry slide">
        <div class="slide-inner">
            <h1>Registry</h1>

            <p>
                As we have been living together for quite some time now we are requesting that rather than
                buying a gift, can you please help make our honeymoon unforgetable.
            </p>
            <p>
                Click below to visit our honeyfund site.
            </p>
            <p>
                Honeyfund gives you the option to use your credit/debit card. However, if you prefer to give
                cash/check then please choose that as your payment option on their site.
            </p>
            <p>
                Thank you in advance.
                <h2>Amy &amp; Kevin</h2>
            </p>

            <div style="width:200px;margin:0 auto;">
                <a href="http://www.honeyfund.com/wedding/MayWedding" style="text-align:left;background:url('http://www.honeyfund.com/share/honeyfund3.png') no-repeat;display:block;width:200px;height:100px;text-indent:-9999em;" target="_blank">Visit our honeyfund at Honeyfund.com, the free honeymoon registry</a>
            </div>
        </div>
    </div>
</div>
